@import "../../../styles/partials/mixins";
@import "../../../styles/partials/variables";


.wrapper-general{

    .title-seccion{
     box-sizing: border-box;
     padding: 15px 0px;


       @include tablet-medium{
        padding: 40px 0px 30px 0px;
       }

       @include desktop-small{
        padding: 35px 0px 20px 0px;
       }

        h1{
        color: $secondaryColor !important;
        text-align:center;
        font-size: 1.8rem;
        margin-top:0px;

           @include tablet-small{
           font-size: 1.9rem;
           }

           @include desktop-small{
           font-size: 1.4rem;
           }
        }
    }

    .city-appointment-container{
     
        .card-container{

            .card{

                @include tablet-medium{
                width: 70%;
                margin: auto;
                }

                // @include desktop-small{
                // width: 90%;
                // }
             
                &:nth-child(1){
                margin-bottom: 15px;
                }

                &:nth-child(2){
                margin-bottom: 15px;
                }

                .type-image-city{
                 width: 25%;

                   @include tablet-small{
                   width: 18%;
                   }
                }

                p{
                font-size: 1.1rem;

                    @include desktop-small{
                    font-size: 0.9rem;
                    }


                }
            }
          
        }

    }

}




.sorry-link{
    &:hover{
        cursor: pointer;
    }
}