.button .back-button {
  display: inline-block;
  color: #808080;
  background-color: transparent;
  text-align: left;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  max-width: 100px; }
  .button .back-button:before {
    content: "";
    display: inline-block;
    background: url(../../assets/images/icons/arrow-left-g.svg) no-repeat;
    width: 22px;
    height: 28px;
    margin-right: 8px; }
  .button .back-button:hover:before {
    background: url(../../assets/images/icons/arrow-left-o.svg) no-repeat; }
  .button .back-button .button-label {
    margin-left: 20px; }
  .button .back-button:hover {
    background-color: transparent;
    color: #fd7e1c; }
  .button .back-button:focus {
    outline: 0px; }

.button .rounded-button {
  background-color: coral; }

.button .link-button {
  background-color: blue; }
