.main-btn {
  background-color: #FF9900;
  width: 100%;
  height: max-content;
  padding: 15px;
  margin: auto;
  font-family: "Gilroy";
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  border: 1.7px solid #FF9900;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
  text-transform: uppercase; }
  .main-btn:hover {
    color: #FF9900;
    background-color: transparent; }
  @media (min-width: 768px) {
    .main-btn {
      width: 70%; } }
  @media (min-width: 980px) {
    .main-btn {
      width: 80%; } }
  @media (min-width: 1080px) {
    .main-btn {
      font-size: 0.8rem; } }
  @media (min-width: 1280px) {
    .main-btn {
      width: 65%; } }
  .main-btn.back-button {
    position: relative;
    font-size: 1rem;
    background-color: transparent;
    color: #FF9900;
    width: max-content;
    text-transform: initial;
    box-sizing: border-box;
    padding: 10px 25px 10px 36px; }
    .main-btn.back-button:after {
      content: "";
      position: absolute;
      left: 13px;
      background-image: url(../../assets/images/icons/back.svg);
      background-repeat: no-repeat;
      width: 35px;
      height: 35px; }
      @media (min-width: 1080px) {
        .main-btn.back-button:after {
          top: 8px;
          width: 35px;
          height: 35px; } }
    @media (min-width: 1080px) {
      .main-btn.back-button {
        font-size: 0.7rem; } }
