@import "../../styles/partials/fonts";
@import "../../styles/partials/variables"; 
@import "../../styles/partials/mixins";

.card{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid $brandBorderGrey;
    border-radius: $borderRadius;
    padding: 30px; 
    margin: 10px 0; 
    

}