@import "../../styles/partials/fonts";
@import "../../styles/partials/variables"; 
@import "../../styles/partials/mixins";

.card{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px; 
    margin: 10px 0; 
    

}