@import "../../../styles/partials/variables";


.hours-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .hour-item{
        border: 1px solid $secondaryColor;
        border-radius: 5px;
        padding: 12px; 
        margin: 10px;
        &:hover{
            cursor: pointer;
        }
    }

}