.step-container {
  display: flex;
  justify-content: space-evenly; }
  .step-container .step {
    width: 15px;
    height: 15px;
    padding: 5px;
    border: 1px solid #0e4b93;
    border-radius: 50%; }
    .step-container .step:hover {
      cursor: pointer; }
