@import "../../styles/partials/fonts";
@import "../../styles/partials/variables"; 
@import "../../styles/partials/mixins";

.step-container{

    ul{
    display: flex;
    justify-content: space-between;
    margin:0px;

      .step{
      display: flex;
      flex-direction: column;
        
         .circle-num{
            background-color:$secondaryColor;
          border-radius: 50px;
          width: 28px;
          height: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;

          .num{
           font-size: 0.8rem;
           color: $light;
           vertical-align: middle;
           }
         }

         .text-step{
          color:$secondaryColor;
          font-weight: 300;
          font-size: 0.8rem;
          box-sizing: border-box;
          padding-top: 5px;
        }
      }
    }

}
