@import "../../styles/partials/fonts";
@import "../../styles/partials/variables"; 
@import "../../styles/partials/mixins";

.step-container{
    display: flex;
    justify-content: space-evenly;
    .is-active{
    }
    .step{
        width: 15px; 
        height: 15px; 
        padding: 5px; 

        border-radius: 50%;
        &:hover{
            cursor: pointer;
        }
    
    }

}
