@import "./partials/fonts";
@import "./partials/variables"; 
@import "./partials/mixins";

/////////////////////////////
/////*****RESET*****////
/////////////////////////////
body {
	margin: 0px;
	padding: 0px;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
/////////


/////////////////////////////
/////*****MAIN LAYOUT*****////
/////////////////////////////
html {
	font-size: 15px;

	@include desktop-small {
		font-size: 20px;
	}
}

body {
	background-color: grey;
	font-family: $primaryFont;
	font-size: 1rem;
	color: lighten($dark,80%);
	//color: $primaryColor;

	@include tablet-small {
		background-color: yellow;
	}

	@include desktop-small {
		background-color: azure;
	}

	.main-title {
		@include mainTitle('bold');
	}

	h3 {
		@include mainTitle(300);

		@include tablet-small {
			font-weight: bold;
		}
	}
}

