@font-face {
  font-family: 'Gilroy';
  src: url("../../assets/fonts/Gilroy-Regular.eot");
  src: url("../../assets/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Gilroy-Regular.woff2") format("woff2"), url("../../assets/fonts/Gilroy-Regular.woff") format("woff"), url("../../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("../../assets/fonts/Gilroy-Bold.eot");
  src: url("../../assets/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Gilroy-Bold.woff2") format("woff2"), url("../../assets/fonts/Gilroy-Bold.woff") format("woff"), url("../../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("../../assets/fonts/Gilroy-Light.eot");
  src: url("../../assets/fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Gilroy-Light.woff2") format("woff2"), url("../../assets/fonts/Gilroy-Light.woff") format("woff"), url("../../assets/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

body {
  margin: 0px;
  padding: 0px; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

html {
  font-size: 15px; }
  @media (min-width: 1080px) {
    html {
      font-size: 20px; } }

body {
  background-color: grey;
  font-family: "Gilroy";
  font-size: 1rem;
  color: #cccccc; }
  @media (min-width: 540px) {
    body {
      background-color: yellow; } }
  @media (min-width: 1080px) {
    body {
      background-color: azure; } }
  body .main-title {
    font-weight: "bold";
    font-size: 1.5rem;
    color: #00619e; }
  body h3 {
    font-weight: 300;
    font-size: 1.5rem;
    color: #00619e; }
    @media (min-width: 540px) {
      body h3 {
        font-weight: bold; } }
