@font-face {
  font-family: 'Gilroy';
  src: url("./../../assets/fonts/Gilroy-Regular.eot");
  src: url("./../../assets/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/Gilroy-Regular.woff2") format("woff2"), url("./../../assets/fonts/Gilroy-Regular.woff") format("woff"), url("./../../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("./../../assets/fonts/Gilroy-Bold.eot");
  src: url("./../../assets/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/Gilroy-Bold.woff2") format("woff2"), url("./../../assets/fonts/Gilroy-Bold.woff") format("woff"), url("./../../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("../../assets/fonts/Gilroy-Light.eot");
  src: url("../../assets/fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Gilroy-Light.woff2") format("woff2"), url("../../assets/fonts/Gilroy-Light.woff") format("woff"), url("../../assets/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

body {
  margin: 0px;
  padding: 0px; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  padding: 0px; }

html {
  font-size: 15px; }
  @media (min-width: 1080px) {
    html {
      font-size: 20px; } }

body #erw-root {
  background: #f0f9f9;
  background-image: url(./../assets/images/icons/bg-lasik.png);
  background-repeat: no-repeat;
  background-size: 360px;
  background-position-y: 90%;
  background-position-x: right;
  font-family: "Gilroy" !important;
  font-size: 1rem;
  color: #cccccc;
  padding: 100px 0 200px 0; }
  body #erw-root h1, body #erw-root h2, body #erw-root h3, body #erw-root h4, body #erw-root h5, body #erw-root h6, body #erw-root p, body #erw-root a, body #erw-root span, body #erw-root div, body #erw-root strong, body #erw-root b {
    font-family: "Gilroy" !important; }
  body #erw-root .DayPicker_weekHeader_ul {
    margin-left: 0 !important;
    margin-bottom: 0 !important; }
  body #erw-root .CalendarMonth_table {
    border: 0 !important; }
    body #erw-root .CalendarMonth_table tr {
      background-color: white !important; }
      body #erw-root .CalendarMonth_table tr td {
        border: 0 !important;
        vertical-align: middle !important; }
  @media (min-width: 768px) {
    body #erw-root {
      background-size: 500px; } }
  @media (min-width: 1500px) {
    body #erw-root {
      background-size: 700px; } }
  body #erw-root .wrapper-general {
    max-width: 100%;
    margin: auto; }
    @media (min-width: 768px) {
      body #erw-root .wrapper-general {
        max-width: 70%; } }
    @media (min-width: 1080px) {
      body #erw-root .wrapper-general {
        max-width: 55%; } }
    @media (min-width: 1360px) {
      body #erw-root .wrapper-general {
        max-width: 45%; } }
    body #erw-root .wrapper-general h1 {
      font-size: 1.6rem;
      color: #808080;
      margin: 30px 0px 10px 0px; }
      @media (min-width: 1080px) {
        body #erw-root .wrapper-general h1 {
          font-size: 1.3rem; } }

.loading-center {
  width: 100%;
  display: flex;
  justify-content: center; }

.container-button {
  display: flex;
  justify-content: center; }

.card-container .summary-icon {
  padding-top: 23px;
  display: flex;
  justify-content: space-around;
  text-align: center; }
  .card-container .summary-icon p {
    color: #808080;
    margin: 0px;
    padding-top: 5px;
    font-weight: 300;
    font-size: 0.9rem; }
    @media (min-width: 1080px) {
      .card-container .summary-icon p {
        font-size: 0.7rem; } }

@media (min-width: 1360px) {
  .change-width {
    max-width: 65% !important; } }
