@import "./partials/fonts";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/placeholders";



/////////////////////////////
/////*****RESET*****////
/////////////////////////////
body {
	margin: 0px;
	padding: 0px;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0px;
}
/////////

/////////////////////////////
/////*****MAIN LAYOUT*****////
/////////////////////////////
html {
	font-size: 15px;

	@include desktop-small {
		font-size: 20px;
	}
}

body #erw-root {
	background: lighten($primaryColorBg, 12%);
	background-image: url(./../assets/images/icons/bg-lasik.png);
	background-repeat: no-repeat;
	background-size: 360px;
	background-position-y: 90%;
	background-position-x: right;
	font-family: $primaryFont !important;
	font-size: 1rem;
	color: lighten($dark, 80%);
	padding: 100px 0 200px 0;
	h1,h2,h3,h4,h5,h6,p,a,span,div, strong, b{
		font-family: $primaryFont !important;
	}
	.DayPicker_weekHeader_ul{
		margin-left: 0 !important;  
    margin-bottom: 0 !important;
	
	}
	.CalendarMonth_table{
		border:0 !important;
		tr{
			background-color: white !important;
			td{
				border: 0 !important;
				vertical-align: middle !important;
			}
		}
	} 
	@include tablet-medium {
		background-size: 500px;
	}

	@include desktop-large {
		background-size: 700px;
	}

	.wrapper-general {
		max-width: 100%;
		margin: auto;

		@include tablet-medium {
			max-width: 70%;
		}

		@include desktop-small {
			max-width: 55%;
		}

		@include desktop-medium-steppers {
			max-width: 45%;
		}

		h1 {
			font-size: 1.6rem;
			color: $texto;
			margin: 30px 0px 10px 0px;

			@include desktop-small {
				font-size: 1.3rem;
			}
		}
	}
}

.loading-center {
	width: 100%;
	display: flex;
	justify-content: center;
}

.container-button {
	display: flex;
	justify-content: center;
}

.card-container {
	.summary-icon {
		padding-top: 23px;
		display: flex;
		justify-content: space-around;
		text-align: center;

		p {
			color: $texto;
			margin: 0px;
			padding-top: 5px;
			font-weight: 300;
			font-size: 0.9rem;

			@include desktop-small {
				font-size: 0.7rem;
			}
		}
	}
}

.change-width {
	@include desktop-medium-steppers {
		max-width: 65% !important;
	}
}
