
.form-group-inline{
    display: flex;
    justify-content: space-between;

}
.form-group {
    max-width: 350px;
    margin: auto;
    margin-bottom: 40px;

    span {
        text-align: left;
    }
}

.checkbox{
    display: flex;
}