@media (min-width: 414px) {
  .calendar-container {
    margin: auto; } }

.calendar-container .DayPicker__withBorder {
  box-shadow: none !important;
  border-radius: 100px; }
  .calendar-container .DayPicker__withBorder .DayPicker_weekHeader {
    top: 72px; }
    .calendar-container .DayPicker__withBorder .DayPicker_weekHeader ul li small {
      color: #808080;
      font-weight: bold; }
  .calendar-container .DayPicker__withBorder .DayPicker_focusRegion .DayPickerNavigation_button__default {
    width: 38px;
    height: 38px;
    border: 0px;
    border-radius: 50px;
    background-color: #00619e; }
    .calendar-container .DayPicker__withBorder .DayPicker_focusRegion .DayPickerNavigation_button__default .DayPickerNavigation_svg__horizontal {
      fill: #ffffff;
      margin-top: 3px; }
  .calendar-container .DayPicker__withBorder .CalendarMonth_caption strong {
    font-size: 1.1rem;
    color: #00619e; }
    @media (min-width: 1080px) {
      .calendar-container .DayPicker__withBorder .CalendarMonth_caption strong {
        font-size: 0.9rem; } }
  .calendar-container .DayPicker__withBorder .CalendarMonth_table {
    margin-top: 15px; }
    .calendar-container .DayPicker__withBorder .CalendarMonth_table .CalendarDay {
      opacity: 0.6; }
    .calendar-container .DayPicker__withBorder .CalendarMonth_table .CalendarDay__highlighted_calendar {
      opacity: 1;
      background-color: transparent;
      font-weight: 900 !important; }
      .calendar-container .DayPicker__withBorder .CalendarMonth_table .CalendarDay__highlighted_calendar:focus {
        background: transparent; }
    .calendar-container .DayPicker__withBorder .CalendarMonth_table .CalendarDay__default {
      border-color: transparent;
      color: #808080;
      font-weight: 300;
      font-size: 0.8rem; }
      @media (min-width: 1080px) {
        .calendar-container .DayPicker__withBorder .CalendarMonth_table .CalendarDay__default {
          font-size: 0.7rem; } }
    .calendar-container .DayPicker__withBorder .CalendarMonth_table .CalendarDay__selected {
      background-color: #FF9900;
      color: #ffffff;
      font-weight: bold;
      border-radius: 50px; }
    .calendar-container .DayPicker__withBorder .CalendarMonth_table .CalendarDay__today {
      background-color: transparent;
      color: #808080;
      font-weight: 300; }

.CalendarDay__selected_span {
  background: #82e0aa;
  color: white;
  border: 1px solid red; }

.CalendarDay__selected {
  background: blue;
  color: white; }

.CalendarDay__selected:hover {
  background: orange;
  color: white; }

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown; }

.DayPickerNavigation_button:hover {
  border: none; }
