.wrapper-general .thank-you-message {
  display: flex;
  flex-direction: column; }

.wrapper-general .card-container .summary-icon {
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
  text-align: center; }
  .wrapper-general .card-container .summary-icon p {
    color: #808080;
    margin: 0px;
    padding-top: 5px;
    font-weight: 300; }
