.home-title {
  text-align: center; }

.home-card {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-content: center; }
  .home-card .home-card-image {
    width: 100px;
    display: block;
    margin: 0 auto; }
