.wrapper-general h2 {
  color: #808080;
  margin: 0px 0px 15px 0px; }
  @media (min-width: 1080px) {
    .wrapper-general h2 {
      font-size: 1rem; } }

@media (min-width: 1280px) {
  .wrapper-general .flex-responsive {
    display: flex;
    justify-content: space-between;
    padding-top: 40px; } }

.wrapper-general .flex-responsive .appointment-summary {
  padding: 30px 0px 25px 0px; }
  @media (min-width: 1280px) {
    .wrapper-general .flex-responsive .appointment-summary {
      width: 37%;
      padding: 0px; } }
  .wrapper-general .flex-responsive .appointment-summary .card-container {
    flex-direction: column; }

@media (min-width: 1280px) {
  .wrapper-general .flex-responsive .wrapper-form {
    width: 60%; } }

@media (min-width: 1280px) {
  .wrapper-general .flex-responsive .wrapper-form .main-btn {
    width: 60%; } }
