@font-face {
  font-family: 'Gilroy';
  src: url("./../../assets/fonts/Gilroy-Regular.eot");
  src: url("./../../assets/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/Gilroy-Regular.woff2") format("woff2"), url("./../../assets/fonts/Gilroy-Regular.woff") format("woff"), url("./../../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("./../../assets/fonts/Gilroy-Bold.eot");
  src: url("./../../assets/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("./../../assets/fonts/Gilroy-Bold.woff2") format("woff2"), url("./../../assets/fonts/Gilroy-Bold.woff") format("woff"), url("./../../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("../../assets/fonts/Gilroy-Light.eot");
  src: url("../../assets/fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Gilroy-Light.woff2") format("woff2"), url("../../assets/fonts/Gilroy-Light.woff") format("woff"), url("../../assets/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

label,
.label {
  position: relative;
  font-weight: 500; }
  label > span:first-child,
  .label > span:first-child {
    transform: translateX(12px); }
  label span,
  .label span {
    display: block;
    margin-bottom: 5px; }

.label {
  transform: translateX(12px); }

input {
  color: #808080 !important; }
  input:focus {
    outline: 0px;
    box-shadow: 0 0 0px 2px #7dbcea; }

.password-group label {
  position: static; }

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.25);
  /* IE */
  -moz-transform: scale(1.25);
  /* FF */
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -o-transform: scale(1.25);
  /* Opera */
  transform: scale(1.25);
  padding: 10px; }

.hide-password,
.show-password {
  position: absolute;
  top: 38px;
  right: 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  margin-bottom: 0px; }
  @media (min-width: 1280px) {
    .hide-password,
    .show-password {
      top: 35px; } }
  @media (min-width: 540px) {
    .hide-password,
    .show-password {
      top: 28px; } }
  @media (min-width: 414px) {
    .hide-password,
    .show-password {
      top: 25px; } }

.signin-card input[type="text"]:first-of-type,
.forgot-card input[type="text"]:first-of-type {
  background-size: 25px;
  background-position: 96% 50%; }
